.tituloforumario{
	margin-top: 300px;
}
.login{
	float: right;
}
#contenedor{
	margin-top: 2em;
}
.seguir{
	float: left;
}
.contacto{
	float: right;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
.f1{
	float: left;
}
.f2{
	float: right;
}
#titulo{
	margin:3em;
}
.formu{
	margin-top: 2em;
}
#jum{
	height: 450px;
}
.face{
	float: left;
}
.botonface{
	background-color: rgba(59, 89, 152, 1.0);
	width: 40px;
	float: left;
}